@charset "utf-8";

.form_size{font-size: 0.7rem;}
input{margin-bottom: 10px;}

fieldset {
    margin-bottom: 20px;
}

input[type] {
    margin: 10px;
    border: 1px red solid;
}
button{
    margin-top: 20px;
}

a{
    font-size: 0.5rem;
}