.red{
    background-color: green;
    border-radius: 20px;
    font-size: 10px;
}
.back{
    background-color: hsl(34, 57%, 70%);
}
.a{
    background-color:   rebeccapurple;
}
body{
    background-color: #eddbc5;
}
.small_font{
    font-size: 10px;
}
th{
    margin: 30px;
}