@charset "utf-8";
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


thead th {
    background-color: #007bff;
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 1.2em;
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

